@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins bg-[#101010] text-white;
}

.sidebar-scroller {
  overflow-y: overlay;
}

.sidedialog-scroller {
  overflow-x: overlay;
}

.sidebar-scroller::-webkit-scrollbar {
  @apply h-1 w-1 bg-gray-900;
}

.sidebar-scroller::-webkit-scrollbar-thumb {
  @apply bg-gray-900;
}

.sidebar-scroller:hover::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
}

::-webkit-scrollbar {
  @apply h-2.5 w-2.5 bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply h-4 rounded-lg bg-gray-600;
}

input,
button,
textarea,
path,
a {
  @apply outline-none ring-red-400/60 focus-visible:ring-2;
}

textarea {
  min-height: 135px;
}

button {
  @apply select-none;
}

input,
textarea {
  @apply bg-brand-900 -m-px w-full rounded-md border border-gray-800 p-2;
}

label {
  @apply mb-1 block text-sm text-gray-400;
}

input.editable-input {
  @apply !rounded-sm;
}

@layer components {
  .btn {
    @apply rounded-md bg-gray-800 px-3 py-2.5 text-sm transition-colors hover:bg-gray-700/60 disabled:cursor-not-allowed disabled:bg-gray-500;
  }

  .icon-btn {
    @apply -mx-0.5 rounded-full p-2 text-sm transition-colors hover:bg-gray-700/60;
  }
}

button.danger {
  @apply bg-brand-200 hover:bg-brand-200/80 disabled:bg-red-400;
}

.nav-links a.active {
  @apply bg-red-600 text-white hover:bg-red-600/80 hover:!text-white;
}

dialog::backdrop {
  background: #00000050;
  backdrop-filter: blur(1px);
}

.water_wave_back {
  animation: wave-back 1.6s infinite linear;
}
.water_wave_front {
  animation: wave-front 0.9s infinite linear;
}
@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}
